In [1]:
import pandas as pd

df1 = pd.DataFrame(data={'name':['chris', 'rose'], 'age':[10, 11]})
df2 = pd.DataFrame(data={'name':['chris', 'james', 'kenny'], 'age':[10, 20, 30]})

print(df1)
print(df2)

    name  age
0  chris   10
1   rose   11
    name  age
0  chris   10
1  james   20
2  kenny   30

In [3]:
df_exclude1 = df1[~df1.isin(df2)].dropna()
print(df_exclude1)

   name   age
1  rose  11.0

In [4]:
df_exclude2 = df2[~df2.isin(df1)].dropna()
print(df_exclude2)

    name   age
1  james  20.0
2  kenny  30.0