In [1]:
import pandas as pd


data = [
  [10,19,4,7,2,0,1,5,2,7,0,0,0.368,0.455,0.632,1.086],
  [13,33,6,12,3,1,0,4,2,2,0,0,0.364,0.400,0.515,0.915],
  [6,23,3,8,0,0,1,2,1,0,2,0,0.348,0.385,0.478,0.863],
  [9,34,5,11,1,1,3,11,3,10,0,0,0.324,0.378,0.676,1.055],
  [9,13,1,4,1,0,1,3,0,4,0,0,0.308,0.308,0.615,0.923],
  [19,72,14,22,3,0,1,8,9,6,1,0,0.306,0.383,0.389,0.772],
  [19,61,10,17,1,0,3,8,3,14,0,0,0.279,0.313,0.443,0.755],
  [19,74,15,20,3,0,6,13,13,16,2,0,0.270,0.382,0.554,0.936],
  [19,82,8,22,4,0,3,10,2,13,0,0,0.268,0.286,0.427,0.713],
  [19,76,12,20,3,0,4,11,7,19,2,0,0.263,0.322,0.461,0.782],
  [18,77,12,19,3,2,2,8,4,11,0,0,0.247,0.298,0.416,0.713],
  [14,47,4,10,2,0,0,6,2,10,0,0,0.213,0.302,0.255,0.557],
  [18,75,10,15,0,1,1,9,2,20,1,0,0.200,0.221,0.267,0.487],
  [4,5,2,1,0,0,1,2,2,3,0,0,0.200,0.429,0.800,1.229],
  [3,2,0,0,0,0,0,0,0,1,0,0,0.000,0.000,0.000,0.000]
]

df = pd.DataFrame(data, columns=['G','AB','R','H','2B','3B','HR','RBI','BB','SO','SB','CS','AVG','OBP','SLG','OPS'])

print(df)

     G  AB   R   H  2B  3B  HR  RBI  BB  SO  SB  CS    AVG    OBP    SLG  \
0   10  19   4   7   2   0   1    5   2   7   0   0  0.368  0.455  0.632
1   13  33   6  12   3   1   0    4   2   2   0   0  0.364  0.400  0.515
2    6  23   3   8   0   0   1    2   1   0   2   0  0.348  0.385  0.478
3    9  34   5  11   1   1   3   11   3  10   0   0  0.324  0.378  0.676
4    9  13   1   4   1   0   1    3   0   4   0   0  0.308  0.308  0.615
5   19  72  14  22   3   0   1    8   9   6   1   0  0.306  0.383  0.389
6   19  61  10  17   1   0   3    8   3  14   0   0  0.279  0.313  0.443
7   19  74  15  20   3   0   6   13  13  16   2   0  0.270  0.382  0.554
8   19  82   8  22   4   0   3   10   2  13   0   0  0.268  0.286  0.427
9   19  76  12  20   3   0   4   11   7  19   2   0  0.263  0.322  0.461
10  18  77  12  19   3   2   2    8   4  11   0   0  0.247  0.298  0.416
11  14  47   4  10   2   0   0    6   2  10   0   0  0.213  0.302  0.255
12  18  75  10  15   0   1   1    9   2  20   1   0  0.200  0.221  0.267
13   4   5   2   1   0   0   1    2   2   3   0   0  0.200  0.429  0.800
14   3   2   0   0   0   0   0    0   0   1   0   0  0.000  0.000  0.000

      OPS
0   1.086
1   0.915
2   0.863
3   1.055
4   0.923
5   0.772
6   0.755
7   0.936
8   0.713
9   0.782
10  0.713
11  0.557
12  0.487
13  1.229
14  0.000